name: Scrape calendar dates

on:
  schedule:
    - cron: "* * * * *"   # every 1 minute
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fetch and extract dates
        run: |
          mkdir -p data

          # function to fetch and extract
          fetch_and_extract() {
            URL=$1
            FILE=$2

            # fetch raw JSON
            RAW=$(curl -s -H "Accept: application/json" \
              -H "User-Agent: Mozilla/5.0" "$URL")

            # extract availableDates values into simple JSON list
            echo "$RAW" \
              | jq -r '.availableDates | map(.date) ' \
              > data/$FILE
          }

          fetch_and_extract "https://pieraksts.mfa.gov.lv/en/calendar/available-month-dates?year=2026&month=2" "dates-2026-02.json"
          fetch_and_extract "https://pieraksts.mfa.gov.lv/en/calendar/available-month-dates?year=2026&month=3" "dates-2026-03.json"

      - name: Commit data
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add data
          git commit -m "Update calendar dates" || echo "No changes"
          git push
